body {
  padding-top: 50px;
  margin: auto;
  text-align: center;
  padding-bottom:50px;
}
input {
  margin-top: 20px;
}
.widgets {
  min-width: 800px;
  margin: auto;
}

.results {
  text-align: left;
  background: #d9d9e0;
  border-radius: 10px;
  padding: 20px;
}
